@{
    ViewData["Title"] = "Wedding Invitation";
}


<div id="invitation">
    <h1>
        Greetings <span id="guestName"> </span>!
    </h1>
    <p>
        Please join us for a celebration of love, friendship, and family.
    </p>
    <p>
        The location is on a little hill, south of Stampede grounds, in a small cafe surrounded by the first garden created in Calgary! The ceremony is going to be in a small garden next to the cafe called Nana's Garden, starting at 5:00 PM. If you can, bring a lawn chair to sit on and enjoy the beauty of the garden. There are a few little gardens surrounding the cafe. For instructions about where to park and how to find the exact location of the ceremony please see here. The ceremony will be followed up by a cocktails and a cozy dinner.
        Also, don't worry about formal attire. Ladies, bring a pair of comfortable shoes to explore the garden and play lawn games.
    </p>
    <p>
        We look forward to having you,
    </p>
    <p>
   - Greg and Valeh     
   </p>

   <img src="~/images/GregAndValeh.JPG" width="30%" class="img-circle pull-right">
        <ul>
            <li>Readers garden cafe </li>
            <li>311 25 Ave SE, Calgary, AB T2G 5V1</li>
            <li>on August 11th, 4:30 PM </li>
        </ul>
</div>

<h3>
    Will you be joining us?
</h3>
<div id="RSVP" class="indent">
    <div> 
        <p>
            <div id="rsvpStatusDescription" class="medium"> loading ...</div>
            <div id="plusOneDescription" class="medium"> loading ...</div> 
            <div id="numberOfKidsDescription" class="medium"> loading ...</div>
        </p>
        <p>
            <button id="openChangeRSVPDialogButton" data-toggle="modal" data-target="#rsvpUdateDialog" type="button" class="btn">Change RSVP</button>
        </p>    
</div>


<!-- The Modal -->

    <div class="modal fade" id="rsvpUdateDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">RSVP Update</h4>
        </div>
        <div class="modal-body">
            <p>Will you be coming to our wedding?</p>
            <div class="indent">
                    <div class="radio">
                        <label><input type="radio" name="rsvp-value" id="rsvpValueYes" value="Yes"> Yes</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="rsvp-value" id="rsvpValueYesPlusOne" value="YesPlusOne"> Yes and I will bring a guest (plus one)</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="rsvp-value"  id="rsvpValueNo" value="No"> No</label>
                    </div>
            <div>
            
            <div class="form-group">
                <label for="plusOneName">Great! What is the name of you plus one?</label>
                <input id="plusOneName" class="form-control" type="text"/>
            </div>

            <div class="form-group">
                <label for="numberOfKids">How many kids are you bringing?</label>
                <select class="form-control" id="numberOfKids">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveRSVPButton">Save changes</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    
    </div>
</div>
