@{
    ViewData["Title"] = "Instructions";
}
<h2>@ViewData["Title"]</h2>

<h4> 1- Getting there </h4>
<p class='NumberedItem'> 
    If you are driving please park your car at the parking lot (Number 1) and walk up the hill! 
    <br/>
    If you are taking a cab, the cab can drive all the way up.
<p>

<h4> 2- Ceremony location </h4>
<p class='NumberedItem'>
    The ceremony will be held in a little garden to the side of the cafe called Nana's garden (Number 2). It will begin promptly at 5:00 PM.
    <br/> 
    You will need to do a little bit of exploring through the path to get there. 
    <br/>
    <i>Please note that this is NOT the big lawn in front of the cafe. That lawn was already reserved so we got the smaller zosier one in the bush!</i>
</p>

<h4> 3- Dinner and cocktails</h4>
<p class='NumberedItem'>
    After the ceremony there will be cocktails and dinner in the cafe (Number 3).
</p>

<span>
    <img src="~/images/Map.png" width="70%">
</span>

<h3>
    Pictures of ceremony location: Nana's Garden
</h3>
<span >
    <img src="~/images/RRG_Nanas_Garden_01.JPG" width="30%">
</span>
<span >
    <img src="~/images/RRG_Nanas_Garden_02.JPG" width="30%">
</span>
